<!DOCTYPE html>
<html>
  <head>
    <title>Recompensastec</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-blue">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <%= render 'shared/navbar' %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
      <%= render 'shared/sidebar' %>
      <!-- Right side column. Contains the navbar and content of the page -->
      <aside class="right-side">
      <%= yield %>
      </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
